.program-selection__wrapper {
  width: 320px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.program-selection__heading {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
}

.program-selection__description {
  text-transform: uppercase;
  color: #111111;
  width: 85%;
  margin-top: 27px;
  margin-bottom: 0;
}

.program-selection__conteiner {
  padding-top: 14px;
  padding-bottom: 29px;
}

.field__textfield {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 15px;
  border: 1px solid #e6e6e6;
  outline: 0;
  width: 100%;
  margin-left: 15px;
}

.field__label {
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
  white-space: nowrap;
}

.field__block {
  display: flex;
  position: relative;
  margin-bottom: 15px;
  align-items: center;
}

.field__list {
  padding: 0;
  list-style: none;
  margin: 20px 0 0;
}

.field__item {
  margin-bottom: 12px;
}

.field__list-input {
  display: none;
}

.field__list-input:checked + .field__list-label::after {
  display: block;
}

.field__list-label {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
  width: 100%;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #ededed;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 9px;
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #68b738;
  }
}

.field__set {
  &--program {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ededed;
  }
}

.field__inner {
  margin-top: 15px;
}

.field__heading {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.field__title {
  display: inline-block;
  vertical-align: baseline;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  max-width: 205px;
  padding-right: 24px;
  margin: 0;
  background-color: #ffffff;
}

.field__set--contacts .field__textfield {
  margin-left: 10px;
}

.field__textarea,
.field__textfield {
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 15px;
  border: 1px solid #e6e6e6;
  outline: 0;
}

.field__textarea {
  width: 100%;
  height: 150px;
  padding-right: 10px;
  margin-top: 14px;
  resize: none;
}

.add-list__item {
  margin-bottom: 13px;
}

.add-list__input {
  display: none;
}

.add-list__label {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.add-list__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ededed;
}

.add-list__input:checked + .add-list__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
}

.field__button {
  width: 100%;
  margin-bottom: 22px;
}

.field__button-block {
  text-align: center;
}

.field__note {
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

.icon-insta {
  fill: #666666;
}

.st0 {
  fill: #666666;
}
